{% extends 'index.html' %}
{% block javascripts %}
    {% load static %}
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div style="text-align:center;" >
  <p>
    <div class="col-12" ng-controller = "search_for_value">
      Search Here
      <!-- <div class="ui-widget"> -->
      <form action='' method= 'POST'>
        {% csrf_token %}
      <div angucomplete-alt id="search_field" pause="100" selected-object="wordSelected" remote-api-handler="searchWordAPI" placeholder="Search Here" remote-url-data-field="data" title-field="word" minlength="2" input-class="form-control" input-name="search_field"></div>

      <input type="text" name="word" ng-model='wordSelected.originalObject.word' class='form-control'>
      <input type="text" ng-model='wordSelected.originalObject.meaning' class='form-control' name="word_with_meaning">
      </form>
		</div>		
  </p>
	</div>
	<div>
<!-- 		<select {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} id="company-isin" name="company_isin" class="form-control company-select-option selectpicker " data-live-search="true" data-select-on-tab="true" ng-model="company_isin" {% if ngChange %} ng-change="{{ ngChange }}"{% endif %} {% if val_required %}required{% endif %}>
			<option value="">Select a Company</option>
			{% for company in words %}
				<option  {% if company_isin == company.isin_number %} selected="selected" {% endif %} value="{{ company.isin_number }}">
					{{ company.word}} ( {{company.meaning}} )
				</option>
			{% endfor %}
		</select> -->
	</div>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
<script type="text/javascript">
// $(document).ready(function(){ 
    // $("#id_input").on('keyup', function(){
    //     var value = $(this).val();
    //     $.ajax({
    //       type: "POST",
    //       url: "{% url 'search_by_prefix' %}",
    //       data: {
    //         'term': value 
    //       },
    //       dataType: 'json',
    //       success: function (data) {
    //         var words = data;
    //         console.log("line 110", words)
    //         $( "#id_input" ).autocomplete({
    //           source: words,
    //           open: function(){
    //             setTimeout(function () {
    //                 $('.ui-autocomplete-input').css('z-index', 99);
    //             }, 0);
    //           }
    //         });
            // $("#id_input").autocomplete({
            //   source: words,
            //   minLength: 2,
            //   open: function(){
            //     setTimeout(function () {
            //         $('.ui-autocomplete-input').css('z-index', 99);
            //     }, 0);
            //   }
            // });
          //   var table = $("#tableID")
          //   table.push("<tr></tr>")
          //   var row = table[1]

          //   for(var i=0; i< words.length(); i++){
          //     row.push('<td>'+ words[i].word.toString()+'</td>')
          //     row.push('<td>'+ words[i].meaning.toString()+'</td>')
          // }
//         }
//         });        
//     });
// });

</script>
<!-- <style type="text/css">
	ul .list { 
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
</style> -->
<!-- <script>
    $(document).ready(function(){ 
        $("#id_input").autocomplete({
            source: "{% url 'ajax_autocomplete' %}",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete-input').css('z-index', 99);
                }, 0);
            }
        });
    });
</script>	 -->
{% endblock %}
