{% extends 'index.html' %}
{% block javascripts %}
    {% load staticfiles %}
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<div style="text-align:center;">
		<p>
		<!-- <form> -->
		<div class="col-12">
			Search Here
			<!-- <div class="ui-widget"> -->
			<input type="text"  list="#input_list" name="word" id='id_input' min="2" class="form-control">
			<!-- </div> -->
			<div class="">
				<ul class="list">
					{%for a_word in words%}
					<li>{{a_word.word}}
					</li>
					{% endfor%}
				</ul>
			</div>
<!-- 			<datalist id="input_list">
				{%for a_word in words%}
				<option value="{{a_word.word}}">
				{% endfor%}
			</datalist>	 -->		
		</div>
		<!-- </form> -->
		</p>
	</div>
	<div>
<!-- 		<select {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} id="company-isin" name="company_isin" class="form-control company-select-option selectpicker " data-live-search="true" data-select-on-tab="true" ng-model="company_isin" {% if ngChange %} ng-change="{{ ngChange }}"{% endif %} {% if val_required %}required{% endif %}>
			<option value="">Select a Company</option>
			{% for company in words %}
				<option  {% if company_isin == company.isin_number %} selected="selected" {% endif %} value="{{ company.isin_number }}">
					{{ company.word}} ( {{company.meaning}} )
				</option>
			{% endfor %}
		</select> -->
	</div>
<script type="text/javascript">
// var options = {

//   url: "{% url 'ajax_autocomplete' %}",

//   getValue: "word",

//   list: { 
//     match: {
//       enabled: true
//     }
//   },

//   theme: "square"
// };

// $("#id_input").easyAutocomplete(options);  

$(document).ready(function(){ 
    $("#id_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'ajax_autocomplete' %}",
            data: {
              'term': value 
            },
            dataType: 'json',
            success: function (data) {
                words = data.words;
                $("#input_list").autocomplete({
                    source: words,
                    minLength: 2,
                    open: function(){
                        setTimeout(function () {
                            $('.ui-autocomplete-input').css('z-index', 99);
                        }, 0);
                    }
                });       
            }
        });        
    });
});

</script>
<style type="text/css">
	ul .list { 
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
</style>
<!-- <script>
    $(document).ready(function(){ 
        $("#id_input").autocomplete({
            source: "{% url 'ajax_autocomplete' %}",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete-input').css('z-index', 99);
                }, 0);
            }
        });
    });
</script>	 -->
{% endblock %}
