{% extends 'index.html' %}
{% block javascripts %}
    {% load static %}
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div style="text-align:center;" >
  <p>
    <!-- {% csrf_token %} -->
    <div class="col-12" ng-controller = "search_for_value">
      <input type="hidden" id="auth_token" value="{% csrf_token %}" name="csrfmiddlewaretoken">
      <!-- <strong>Search Here</strong> -->
      <!-- <div class="ui-widget"> -->
        
      <div angucomplete-alt id="search_field" pause="100" selected-object="wordSelected" remote-api-handler="searchWordAPI" placeholder="Search Here" remote-url-data-field="data" title-field="word" minlength="2" input-class="form-control" input-name="search_field"></div>
      <p></p>
      <!-- <strong>Meaning: -->
      <textarea ng-model='wordSelected.originalObject.meaning' class='form-control' placeholder='Meaning' name="word_with_meaning"></textarea> 
      <!-- </strong> -->
		</div>		
  </p>
	</div>
	<div>
	</div>
<style>
  #search_field_dropdown{
    overflow-y: auto;
    max-height: 200px;
  }
</style>
<script type="text/javascript">
// $(document).ready(function(){ 
    // $("#id_input").on('keyup', function(){
    //     var value = $(this).val();
    //     $.ajax({
    //       type: "POST",
    //       url: "{% url 'search_by_prefix' %}",
    //       data: {
    //         'term': value 
    //       },
    //       dataType: 'json',
    //       success: function (data) {
    //         var words = data;
    //         console.log("line 110", words)
    //         $( "#id_input" ).autocomplete({
    //           source: words,
    //           open: function(){
    //             setTimeout(function () {
    //                 $('.ui-autocomplete-input').css('z-index', 99);
    //             }, 0);
    //           }
    //         });
            // $("#id_input").autocomplete({
            //   source: words,
            //   minLength: 2,
            //   open: function(){
            //     setTimeout(function () {
            //         $('.ui-autocomplete-input').css('z-index', 99);
            //     }, 0);
            //   }
            // });
          //   var table = $("#tableID")
          //   table.push("<tr></tr>")
          //   var row = table[1]

          //   for(var i=0; i< words.length(); i++){
          //     row.push('<td>'+ words[i].word.toString()+'</td>')
          //     row.push('<td>'+ words[i].meaning.toString()+'</td>')
          // }
//         }
//         });        
//     });
// });

</script>
<!-- <style type="text/css">
	ul .list { 
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
</style> -->
<!-- <script>
    $(document).ready(function(){ 
        $("#id_input").autocomplete({
            source: "{% url 'ajax_autocomplete' %}",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete-input').css('z-index', 99);
                }, 0);
            }
        });
    });
</script>	 -->
{% endblock %}
